<h2 class="user-name"><%= @user.name %>'s Page</h2  >
<h1>Created Events</h1>

<% @user.created_events.date_order.each do |e| %>
  <p>Title: <%= link_to e.title, event_path(e.id) %></p>
  <p>Details: <%= e.body %></p>
  <p>Date: <%= e.date.strftime("%d/%m/%y at %H:%M") %></p>
  <p>Location: <%= e.location %></p>
  <hr>
<% end %>

<h1>Upcoming Events</h1>
<% @user.attended_events.upcoming.each do |e| %>
  <p>Title: <%= link_to e.title, event_path(e.id) %></p>
  <p>Details: <%= e.body %></p>
  <p>Date: <%= e.date.strftime("%d/%m/%y at %H:%M") %></p>
  <p>Location: <%= e.location %></p>
  <p>Created by: <%= link_to e.creator.name, user_path(e.creator.id) %></p>
  <hr>
<% end %>

<h1>Past Events</h1>
<% @user.attended_events.past.each do |e| %>
  <p>Title: <%= link_to e.title, event_path(e.id) %></p>
  <p>Details: <%= e.body %></p>
  <p>Date: <%= e.date.strftime("%d/%m/%y at %H:%M") %></p>
  <p>Location: <%= e.location %></p>
  <p>Created by: <%= link_to e.creator.name, user_path(e.creator.id) %></p>
  <hr>
<% end %>
