<h1>Upcoming Events</h1>
<% @upcoming_events.each do |e| %>
  <h3><%= link_to e.title, event_path(e.id) %></h3>  
  <p>Description: <%= e.body %></p>
  <p>Date: <%= e.date %></p>
  <p>Location: <%= e.location %></p>
  <p>Created by: <%= e.creator.name %></p>
  <hr>
<% end %>

<h1>Past Events</h1>
<% @past_events.each do |e| %>
  <h3><%= link_to e.title, event_path(e.id) %></h3>  
  <p>Description: <%= e.body %></p>
  <p>Date: <%= e.date %></p>
  <p>Location: <%= e.location %></p>
  <p>Created by: <%= e.creator.name %></p>
  <hr>
<% end %>
