<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.notice %>
      <p><%= flash.notice %></p>
    <% end %>

    <% if logged_in? %>
      <p><%= current_user.name %> is logged in.<p>
      <%= link_to "Log out", users_logout_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
